<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto#3</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/leaflet.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/leaflet.label.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/estilos.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-src.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Label.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.label.js') }}"></script>
    

</head>
<body>
    <div id="titulo">
        <h1>Teoria de Grafos</h1>
        <h3>Proyecto Covid-19 </h3>    
    </div>
    <div id="cajamapa">
        <div id='mapid'></div> 
    </div>

    <div  id='datos' data-datos='{{datos|tojson}}'></div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/mapa.js') }}"></script>
</html>